.buttonInput {
    width: 100%;

    padding: 13px 20px;

    color: var(--background-color);
    font-weight: 500;
    text-decoration: none;

    border-radius: 4px;
    border: none;
    background-color: var(--secondary-color);

    transition: 300ms ease-in-out;
}

.buttonInput:hover {
    background-color: var(--primary-color);
}