.header_container {
    text-align: center;
}

.header_containerContent {
    width: 1100px;
    height: 45px;
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header_containerContentLeft {
    width: 505px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.header_containerContentLeft_logoContainerContent {
    padding: 13px 20px;

    font-weight: 900;
    font-size: 24px;

    color: var(--secondary-color);
    /* background: linear-gradient(to bottom right, rgba(32, 73, 72, 1), rgba(246, 123, 45, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    transition: 300ms ease-in-out;
}

.header_containerContentLeft_logoContainerContent:hover {
    /* opacity: 0.8; */
    color: var(--primary-color);
}

.header_containerContentLeft_linksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_containerContentLeft_linksContainer_link {
    padding: 13px 20px;

    font-size: 13px;
    font-weight: 500;
    text-decoration: none;

    transition: 300ms ease-in-out;
}

.header_containerContentLeft_linksContainer_link:hover {
    color: var(--primary-color)
}

.header_containerContentRight {
    width: 280px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_containerContentRight_buttonsContainer {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_containerContentRight_buttonsContainer_buttonLogin {
    padding: 13px 19px;

    font-size: 13px;
    font-weight: 500;
    text-decoration: none;

    border: 1px solid var(--secondary-color);
    border-radius: 4px;

    transition: 300ms ease-in-out;
}

.header_containerContentRight_buttonsContainer_buttonLogin:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.header_containerContentRight_buttonsContainer_buttonSignup {
    padding: 13px 20px;

    color: var(--background-color);
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;

    border-radius: 4px;
    border: none;
    background-color: var(--secondary-color);

    transition: 300ms ease-in-out;
}

.header_containerContentRight_buttonsContainer_buttonSignup:hover {
    background-color: var(--primary-color);
}